body {
  font-family: 'Montserrat'
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
  padding: 30px 0;
}

h2 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-weight: bold;
  line-height: 1.5;
}

p {
  color: #8f8f8f;
}

#title {
  background-color: #ff4c68;
}

.navbar {
  padding: 0 0 2.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  margin-left: 30px;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.phone-pic {
  width; 300px;
}

.im-rotate {
  transform: rotate(25deg);
  max-width: 300px;
  margin: 3% 3% 3% 20%;
  position: absolute;
}

@media (max-width: 990px) {
  #title {
    text-align: center;
  }

  .im-rotate {
    position: static;
    transform: rotate(0);
    margin: 3%;
  }
}

.but-down{
  margin: 5% 5% 5% 0%;
}

/* Features */

.i-size {
  font-size: 70px;
  color: #ef8172;
  margin: 5% 0 5%;
}

.i-size:hover {
  color: #ff4c68;
}

#features {
  text-align: center;
  padding: 7% 15%;
  background-color: white;
  position: relative;
}

.feat {
  padding: 0 5%;
}

/* Testimonials */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: white;
}

.carousel-item {
  padding: 7% 15%;
}

.dog-pic {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press */

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%
}

.logo-pic {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */

#pricing {
  padding: 100px;
  text-align: center;
}

.card-lay {
  padding: 3% 2%;
}

  /* Call to Action */

  #cta {
    background-color: #ff4c68;
    text-align: center;
    color: white;
  }

  .cta-text {
    font-size: 3rem;
    line-height: 1.5;
    padding-top: 5%;
    width: 50%;
    margin: auto;
  }

  .but-down2 {
    margin: 5% 1%;
  }

  @media (max-width: 990px) {
    .cta-text {
      width: 80%;
   }
 }

/* footer */

#footer {
  text-align: center;
}

.social {
  font-size: 20px;
  margin: 50px 15px 20px;
}
